:root {
    --grey: rgb(99, 99, 99);
    --turq: rgb(57, 255, 255);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--grey);
    justify-content: space-between;
    align-items: center;
}

.mainHeader {
    color: var(--grey);
    background-color: aqua;
    padding: 6px;
    margin: 12px 0;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin: 18px 8px;
}

ul li a {
    text-decoration: none;
    color: aqua;
    border-bottom: 2px aqua solid;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.banner {
    width: 100vw;
    height: 100px;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aboutMeSection {
    display: flex;
    margin-top: 2rem;
}

.aside {
    width: clamp(200px, 35%, 300px);
    border-right: solid var(--grey) 3px;
    text-align: right;
    color: var(--grey);
    background-color: none;
}

.aside h3 {
    font-size: 2.5rem;
    margin-right: 5px;
    margin-top: 4px;
    color: var(--grey);
}

.aboutMe {
    flex: 1;
    font-size: 12px;
    color: var(--grey);
    margin-left: 2%;
    margin-right: 5%;
    padding-top: 0.5%;
    
}

.work-section {
    display: flex;
    flex-wrap: wrap;
    
}

.images {
    margin-left: 2%;
    padding-top: 0.5%;
}

.filter {
    position: absolute;
    right: 5%;
    background-color: none;
    height: 300px;
    display: none;
}

.img {
    
}

.images2 {
    display: flex;
}

#project1 {
    width: 750px;
    height: 400px;
    border: 2px solid aqua;
}

.img2 {
    margin: 5px 8px 5px 0;
    border: 2px solid aqua;
}